@inherits LayoutComponentBase
@inject UserService UserService

<PageTitle>Project Tracker</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @if(_username is null)
        {
            <div class="top-row px-4">
                Hello!
            </div>
        }
        else
        {
            <div class="top-row px-4">
                Hello, @_username!
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    string? _username;

    protected override async Task OnInitializedAsync()
    {
        _username = await UserService.GetUsername();
    }
}