@inherits LayoutComponentBase
@inject UserService UserService

<PageTitle>Project Tracker</PageTitle>

<div class="page">
    <main>
        <div class="top-row">
            <div class="flex-grow-1">
                <NavMenu />
            </div>
            <div class="login-display">
                <LoginDisplay />
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>