
<div class="d-flex">

    <div class="ps-3 navbar navbar-dark">
        <a class="navbar-brand" href="">Project Tracker</a>
    </div>

    <nav class="d-flex align-items-center gap-4">
        <div class="nav-item">
            <NavLink class="nav-link" href="punchlist">
                Punchlist
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="tasks">
                Tasks
            </NavLink>
        </div>
    </nav>

</div>