.navbar-brand {
    font-size: 1.5rem;
    margin-right: 2em;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
}

    .nav-item ::deep a {
        color: #dfdfdf;
        font-weight: bold;
        height: 2.5rem;
        text-align: center;
        border-bottom: 2px solid rgba(0,0,0,0);
    }

        .nav-item ::deep a.active {
            border-bottom: 2px solid hsl(200 40% 40%);
        }

        .nav-item ::deep a:hover {
            border-bottom: 2px solid hsl(200 40% 70%);
        }
