<div class="stamp stamp-approved">
    <span>@BigText</span>
    <span>@SmallText</span>
</div>

@code {
    [Parameter]
    public string BigText { get; set; } = string.Empty;

    [Parameter]
    public string SmallText { get; set; } = string.Empty;
}
